.mtl__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mtl__brand div {
    flex: 1;
    max-width: 300px;
    min-width: 100px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
   .mtl__brand img {
       object-fit: contain;
       width: 100%;
   }
}