.mtl__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.mtl__navbar-link {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.mtl__navbar-links_logo {
    margin-right: 10rem;
}

.mtl__navbar-links_logo img {
    width: 150px;
    height: 100px;
}

.mtl__navbar-links_container {
    display: flex;
    flex-direction: row;
    translate: 170px;

}

.mtl__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.mtl__navbar-links_container p,
.mtl__navbar-sign p,
.mtl__navbar-menu_container p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}



.mtl__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.mtl__navbar-menu svg {
    cursor: pointer;

}


.mtl__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 20px;
    right: 0;
    margin-top: 1rem;
    min-width: 150px;
    border-radius: 5px;
    box-shadow:rgba(0,0,0,0.2);
    opacity: 80%;
}

.mtl__navbar-menu_container p {
    margin: 1rem 0;
}

.mtl__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px){
    .mtl__navbar-links_container{
        display: none;


    }

    .mtl__navbar-menu{
        display: flex;
    }




}

@media screen and (max-width: 700px){

    .mtl__navbar{
        padding: 2rem 4rem;
    }

    .mtl__navbar-links_container{
        display: none;

    }

}

@media screen and (max-width: 550px){
    .mtl__navbar-links_container{
        display: none;
    }
    .mtl__navbar{
        padding: 2rem;
    }

    .mtl__navbar-sign{
        display: none;
    }

    .mtl__navbar-menu_container{
        top: 20px;

    }

    .mtl__navbar-menu_container-links-sign{
        display: block;
    }



}


